.idea
venv
tests.ipynb
neural_networks/
/fr-en-reussite-au-bac-pred-2024-2030-0.csv
/fr-en-reussite-au-bac-pred-2024-2030-1.csv
/fr-en-reussite-au-bac-pred-2024-2030-2.csv
/fr-en-reussite-au-bac-pred-2024-2030-3.csv
/fr-en-reussite-au-bac-pred-2024-2030-4.csv
/fr-en-reussite-au-bac-pred-2024-2030-5.csv
/fr-en-reussite-au-bac-pred-2024-2030-6.csv
/fr-en-reussite-au-bac-pred-2024-2030-7.csv
/fr-en-reussite-au-bac-pred-2024-2030-8.csv
/fr-en-reussite-au-bac-pred-2024-2030-9.csv
/fr-en-reussite-au-bac-pred-2024-2030-10.csv
/fr-en-reussite-au-bac-pred-2024-2030-11.csv
/fr-en-reussite-prediction-2025-to-2030-netw-0-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-1-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-2-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-3-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-4-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-5-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-6-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-7-output.csv
/fr-en-reussite-prediction-2025-to-2030-netw-output.csv
/fr-en-reussite-au-baccalaureat-plus-prediction-2025-to-2030.csv
